{% extends 'base.html' %}
{% block title %}Trivia Game{% endblock %}

{% block content %}

<div class="container w-100">
  <div class="box box-shadow bg-white rounded mx-auto mt-5 p-4" style="width:65rem;">
    <div id="question" class="mb-4 font-weight-bold text-dark mx-auto text-center"></div>
    <div class="row">
      <div class="col-4 border-right py-5 px-4">
        <div id="pc1" class="choice p-2 text-white playerchoice mb-3 c1" onclick='selectAnswer(1)'></div> 
        <div id="pc2" class="choice p-2 text-white playerchoice mb-3 c2" onclick='selectAnswer(2)'></div>
        <div id="pc3" class="choice p-2 text-white playerchoice mb-3 c3" onclick='selectAnswer(3)'></div>
        <div id="pc4" class="choice p-2 text-white playerchoice mb-3 c4" onclick='selectAnswer(4)'></div>
      </div>

      <div class="col-4 py-5 text-center">
        <div id="playername" class="font-weight-bold text-uppercase text-dark p-2" style="font-size:2rem">
          {{ user.username }}
        </div>
        <div id="playerpoints">
        </div>

        <div id="opponentname" class="font-weight-bold text-uppercase text-dark p-2 mt-5" style="font-size:2rem">
        </div>
        <div id="opponentpoints">
        </div>
      </div>

      <div class="col-4 border-left py-5 px-4">
        <div id="oc1" class="choice p-2 text-white oppchoice mb-3 c1"></div>
        <div id="oc2" class="choice p-2 text-white oppchoice mb-3 c2"></div>
        <div id="oc3" class="choice p-2 text-white oppchoice mb-3 c3"></div>
        <div id="oc4" class="choice p-2 text-white oppchoice mb-3 c4"></div>
      </div>
    </div>
  </div>
</div>

<script>
  var questionid = 0;
  var playerScore = 0;
  var opponentScore = 0;
  var gameDisabled = false;
  getGameData();
  wait();
  for (var i=1;i<11;i++) {
      $('#opponentpoints').append('<div class="greycircle" id="op'+i+'"></div>');
      $('#playerpoints').append('<div class="greycircle" id="cp'+i+'""></div>');
  }

  function wait() {
    $.post( "../api/wait/", { pid: {{ playerid }} })
    .done(function(data,statusText,xhr) {
      if(data.result == 'opponentcorrect')  {
        $('.oppchoice.c'+data.opponentAnswer).addClass('bg-green');
      } else if(data.result == 'usercorrect') {
        $('.oppchoice.c'+data.opponentAnswer).addClass('bg-red');
      } else if(data.result == 'bothincorrect') {
        $('.oppchoice.c'+data.opponentAnswer).addClass('bg-red');
      } else if(data.result == 'nextquestion') {
          nextQuestion();
      }
      wait();
    });
  }

  function nextQuestion() {
    setTimeout(function() {
      for (var i=1;i<=4;i++) {
        $('.oppchoice.c'+i).removeClass('bg-red bg-green')
        $('.playerchoice.c'+i).removeClass('bg-red bg-green bg-disabled')
      }
      getGameData();
    },4000);
  }

  function selectAnswer(choice) {
    if(!gameDisabled) {
      for (var i=1;i<=4;i++) {
        if (i != choice) 
          $('.playerchoice.c'+i).addClass('bg-disabled');
        else 
          $('.playerchoice.c'+i).addClass('bg-yellow');
      }   
      $.post( "../api/selectanswer/", { playerid: {{ playerid }}, choice:choice, questionid:questionid })
      .done(function(data) {
        $('.playerchoice.c'+choice).removeClass('bg-yellow');
        if(data.result == 'incorrect') {
          $('.playerchoice.c'+choice).addClass('bg-red');
          $('.playerchoice.c'+data.correctAnswer).removeClass('bg-disabled');
          $('.playerchoice.c'+data.correctAnswer).addClass('bg-green');
        }
        else if(data.result == 'correct') {
          $('.playerchoice.c'+choice).addClass('bg-green');
        }
      });
    }
  }

  function endGame() {
  
  }

  function getGameData() {
     $.post( "../api/gameinfo/", { pid: {{ playerid }} })
    .done(function(data) {
      $('#question').html(data.question.question);
      for (i=1;i<5;i++) {
        $('.c'+i).html(data.question['choice'+i]);
      }
      $('#opponentname').html(data.opponentName);
      questionid = data.question.id;
      for (var i=1;i<=data.playerPoints;i++) {
        $('#cp'+i).addClass('bg-green');
      }
      for (var i=1;i<=data.opponentPoints;i++) {
        $('#op'+i).addClass('bg-green');
      }
    });
  }
</script>

{% endblock %}